* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quintessential", cursive;
  background-color: #32384f;
}
.btn {
  text-decoration: none;
  color: #fff;
  padding: 10px 40px;
  border-radius: 30px;
  background: linear-gradient(to right, #8d68c5, #e34494) !important;
  /* background: #fff; */
  display: inline-block;
  margin: 40px 0;
  font-size: 15px;
}
.btn:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}

.social-media {
  display: flex;
  justify-content: space-around;
}
.social-media {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.social-media h3 {
  font-weight: 500;
  font-size: 16px;
}

.grupo-2 {
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.change-theme {
  top: 1.5rem;
  right: 0;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}

.icono ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease;
}
.icono ul {
  list-style: none;
}
.icono ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}
.icono ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5 ease;
}
.icono ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}
.icono ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2abd;
  transition: all 0.5s ease;
}
.icono ul li:hover .fa-instagram {
  color: #bc2abb;
  text-shadow: 0 0 15px #bc2abb;
  transition: all 0.5s ease;
}
.icono ul li:hover.twitter {
  border: 5px solid #1714e9;
  box-shadow: 0 0 15px #1714e9;
  transition: all 0.5s ease;
}
.icono ul li:hover .fa-twitter {
  color: #1714e9;
  text-shadow: 0 0 15px #1714e9;
  transition: all 0.5s ease;
}
@media screen and (min-width: 300px) {
  .btn-animado {
    display: inline-block;
    padding: 5px 100px;
    border-radius: 9px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 1px solid #2ca8b0;
    color: #2ca8b0;
    cursor: pointer;
    transition: all ease-in 150ms;
    overflow: hidden;
  }
}

.btn-animado i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  font-size: 1.7rem;
  opacity: 1;
}
.btn-animado:hover {
  background-color: #2ca8b0;
  color: #fff;
}
.btn-animado:active {
  background-color: #22848a;
}

.color-facebook {
  border: 1px solid #3b69ff;
  color: #3b69ff;
}
.color-facebook:hover {
  background-color: #3b69ff;
  color: #fff;
}
.color-facebook:active {
  background-color: #3155c9;
}
.color-instagram {
  border: 1px solid #a03bff;
  color: #3bc1ff;
}
.color-instagram .tex-icono {
  color: #a03bff;
}
.color-instagram:hover {
  background: linear-gradient(#a03bff, #3bc1ff);
  color: #fff;
}
.color-instagram:active {
  background: linear-gradient(#7d2fc7, #2a82aa);
}
.color-instagram:hover .tex-icono {
  color: #fff;
}

.btn-animado.animacion-uno:hover i {
  animation: anim-uno 350ms ease-in normal both;
  transform: translate(0);
}
@keyframes anim-uno {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  70% {
    transform: translateY(0.5rem);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-animado.animacion-dos:hover i {
  animation: anim-dos 350ms ease-in normal both;
  transform: translate(0);
}
@keyframes anim-dos {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  70% {
    transform: translateY(-0.5rem);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-animado.animacion-tres:hover i {
  animation: anim-tres 350ms ease-in normal both;
  transform: translate(0);
}
@keyframes anim-tres {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  70% {
    transform: translateX(1rem);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn-animado.animacion-cuatro:hover i {
  animation: anim-cuatro 250ms ease-in normal both;
  transform: scale(0) rotate(0deg);
}
@keyframes anim-cuatro {
  from {
    transform: scale(0) rotate(0deg) translateX(0);
  }
  to {
    transform: scale(2.75) rotate(-15deg) translateX(-0.25rem);
  }
}
